{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}

    <div class="page-header">
        <h1>Add Compartment</h1>
    </div>
    <div class="container">
        {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        <div class="form-group">
            {{ form_label(form.compartment_id ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.compartment_id,{'attr':{'class':'form-control apps'}}) }}
                {{ form_errors(form.compartment_id) }}
            </div>
        </div>
        <div class="form-group">

            {{ form_label(form.item ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                <div class="input-group">
                    {{ form_widget(form.item,{'attr':{'class':'form-control pw'}}) }}
                    {{ form_errors(form.item) }}
                </div>
            </div>
        </div>
        <div class="form-group">

            {{ form_label(form.expire_date ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                <div class="input-group">
                    {{ form_widget(form.expire_date) }}
                    {{ form_errors(form.expire_date) }}
                </div>
            </div>
        </div>
        <div class="form-group">

            {{ form_label(form.store_date ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                <div class="input-group">
                    {{ form_widget(form.store_date) }}
                    {{ form_errors(form.store_date) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 col-sm-offset-7">
            <a href="{{ path('userProfile') }}" class="btn btn-info"
               style="width: 100px;background-color: #6a787c">Cancel</a>
            {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'}}) }}
        </div>

    </div>

    {{ form_end(form) }}
{% endblock %}